body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

h1>span{
  color:slateblue;
}

.left-card{
  width: 45%;
  float: right;
}

.right-card{
  width: 45%;
  float:left;
}

.left-card img {
  width: 300px;
  height: 200px;
  margin: 20px;
  float:left;
}

.right-card img {
  width: 300px;
  height: 200px;
  margin: 20px;
  float:left;
}
.card-text{
  display: inline;
}
footer {
  text-align: right;
  color: midnightblue;
}

@media(max-width:700px)
{
  .logo{
    width: 100px;
  }

  h1{
    font-size: 3.5rem;
    text-align: center;
  }

  .left-card{
    width: 100%;
    display: inline;
  }

  .right-card{
    width: 100%;
    display: inline;
  }
  .right-card img {
    width:90%;
    height: 250px;
  }
  .left-card img {
    width: 90%;
    height: 250px;
  }
}
